// -----------------------------------------------------------------------------
// This file contains all styles related to the search component.
// -----------------------------------------------------------------------------

.search {
  .form-control {
    padding: 20px 40px;
    border-radius: 25px;
    background-color: $light-grey;
  }
}
